:root {
    --color-primary: #7d0a0a;
    --color-secondary: #bf3131;
    --color-tertiary: #ead196;
    --color-quaternary: #f3edc8;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: "Roboto Mono", monospace;
    background-color: var(--color-tertiary);
    background-image: radial-gradient(#242323a8, #000000), url("./img/header.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30% 65%;
}

.header {
    min-height: 15rem;
    background-image: radial-gradient(#363535a8, #000000), url("./img/header.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30% 65%;
    display: flex;
    align-items: center;
}

.header__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__icon {
    height: 5rem;
    width: auto;
    padding-left: 5rem;
}

.header__a {
    padding-right: 5rem;
}

.header__a a {
    margin-left: 1rem;
    text-decoration: none;
    color: var(--color-quaternary);
    font-weight: 900;
}

.slider-frame {
    width: 100%;
    overflow: hidden;
}

.slider-frame ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
    width: 100%;
    list-style: none;
}

.slider-frame img {
    width: 100%;
    height: 800px;
}

@keyframes slide {
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }
    100% {
        margin-left: -300%;
    }
}

.main__section-titulos {
    text-align: center;
    padding: 5rem;
    color: var(--color-quaternary);
}

.main__container-article {
    display: flex;
    justify-content: space-evenly;
    padding-inline: 2.5rem;
    padding-bottom: 5rem;
    color: var(--color-tertiary);
}

.main__article {
    text-align: center;
    padding: 2rem;
    border-right: 1px #a7a1a1 solid;
}

.main__article:last-child {
    border: none;
}

.main__article-img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    margin-bottom: 1rem;
    transition: transform 0.3s ease;
}
.main__article-img:hover {
    transform: scale(1.1);
}

.main__h2 {
    margin-bottom: 1rem;
}

footer {
    background-color: var(--color-tertiary);
    color: var(--color-primary);
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1200px) {
    .main__article-img {
        height: 270px;
    }
}
@media (min-width: 1400px) {
    .main__article-img {
        height: 320px;
    }
}

@media (max-width: 992px) {
    .slider-frame img {
        height: 500px;
    }

    .main__container-article {
        padding-inline: 2rem;
        display: grid;
        grid-template-columns: 40% 40%;
    }

    .main__article {
        border: none;
    }

    .main__article-img {
        height: 300px;
    }
}
@media (max-width: 768px) {
    .slider-frame img {
        height: 400px;
    }

    .main__container-article {
        padding-inline: 2rem;
        display: grid;
        grid-template-columns: 100%;
    }

    .main__article {
        border: none;
    }

    .main__article-img {
        width: 50%;
        height: auto;
    }
}

@media (max-width: 576px) {
    .header {
        min-height: 8rem;
    }

    .header__icon {
        padding-left: 1.2rem;
    }

    .header__a {
        padding-right: 1.2rem;
    }

    .header__a a {
        font-size: 13px;
        margin-left: 0.2rem;
    }

    body {
        min-height: 100vh;
        background-position: 30% 50%;
    }

    .slider-frame img {
        height: 230px;
    }

    .main__section-titulos {
        padding: 2rem;
    }

    .main__container-article {
        padding-inline: 1rem;
    }

    .main__article-img {
        width: 50%;
        height: auto;
    }
}
